extends layout

block content
    header
    main
        form(id="inputRoomNameForm")
            input(type="text" id="inputRoomName" style="border-bottom: solid 1px;")
            input(type="submit", value="Send" style="border: solid 1px;")
    footer