extends layout

block content
    #messages

    form#inputRoomNameForm
        input(type="text")#inputRoomName
        input(type="submit")#submitRoomNameBtn

    form#inputMessageForm
        input(type="text")#inputMessage
        input(type="submit")#submitMessageBtn
    
    form#LeaveForm
        input(type="submit", value="Leave")#leaveBtn