extends layout

block content
    header(style="border-bottom: solid 1px;")
        a(href="/create-room" style="border: solid 1px;")="Create Room"
    main
        div(style="border-bottom: solid 1px;")
            span="Room 1"
        div(style="border-bottom: solid 1px;")
            span="Room 2"
    footer