extends layout

block content
    header
        a(href="/create-room")="Create Room"
        hr
    main
        div
            span
                Room 1
            hr
        div
            span
                Room 2
            hr
    footer